[Desktop Entry]
Type=Application
Name=Bobine
GenericName=Système de diffusion vidéo et audio
Comment=Diffusion multi-canal (vidéo, coach, radio) pour salles de sport et studios
Exec=/usr/bin/bobine
Icon=bobine
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
X-GNOME-Autostart-enabled=true
Keywords=cinema;fitness;video;audio;kiosk;radio;
